* {
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}
html{
    height: 100%;
}
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1, h3, h5 {
    font-family: 'KdG', sans-serif;
}
h3{
    font-size: 45px;
    margin-bottom: 5px;
}
h4{
    font-size: 20px;
    color: #666666;
}

img {
    margin: 0;
    padding: 0;
}


/*--------------------------*/
nav a {
    text-decoration: none;
    color: #999999;
}

nav a:hover {
    color: black;
}

input {
    color: #333333;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 5px;
    border: none;
    padding: 15px 180px 15px 20px;
}

input[type=submit] {
    background-color: #85BA50;
    border: 3px solid #85BA50;
    border-radius: 5px;
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 180px;
    padding: 5px;
    transition-duration: 0.5s;
}
select {
    color: #333333;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 5px;
    border: none;
    height: 60px;
    padding: 15px 180px 15px 20px;
    width: 100%;
}

input[type=submit]:hover {
    text-transform: none;
    background-color: white;
    border: 2px solid #85BA10;
    transition-duration: 0.5s;
    color: #85BA10;
}

input[type=date] {
    background-color: #F0F0F0;
    border: none;
    color: #333333;
    padding: 15px 70px 15px 20px;
    border-radius: 5px;
    color: #333333;
    width: 275px;
}
input[type=date] {
    background-color: #F0F0F0;
    border: none;
    color: #333333;
    padding: 15px 70px 15px 20px;
    border-radius: 5px;
    color: #333333;
    width: 275px;
}
textarea{
    color: #333333;
    margin-bottom: 30px;
    font-size: 16px;
    background-color: #F0F0F0;
    border-radius: 5px;
    border: none;
    padding: 15px 180px 15px 20px;
}

.helptext {
    font-size: 14px;
    color: #666666;

}

/*-------------------------*/
.leerkracht{
    background-color: white;
    width: 100%;
    height: 100%;
    align-content: center;
    border-radius: 5px;
}
.leerkracht img{
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin: 0 auto;
}
.leerkracht .centerText, .leerkracht p{
    text-align: center;
}
.leerkracht p{
    padding: 0 50px;
}
.leerkracht button{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.schuinvlak {
    display: block;
    max-width: 100%;
    height: 600px;
    background: url(../images/intro.png) no-repeat;
    background-size: cover;
    background-position: -100px;
}
.schuinvlakContact {
    display: block;
    max-width: 100%;
    height: 100%;
    background: url(../images/contact.png) no-repeat;
    background-size: cover;
    background-position: -100px;
}
.schuinvlakRight {
    display: block;
    width: 700px;
    height: 600px;
    background: url(../images/schuinvlak.svg) no-repeat;
    /*background-size: 900px 600px;*/
    background-position: 20px 0px;
}
.schuinvlakLeft {
    display: block;
    width: 700px;
    height: 600px;
    background: url(../images/schuinvlak.svg) no-repeat;
    background-position: -25px 0px;
}
.schuinebovenrand{
    background: url(../images/schuinebovenrand.png) no-repeat;
    background-size: cover;
}

.schuinvlakcontainer {
    padding-top: 100px;
    color: black;
    margin-left: 7%;
}
.schuinvlakcontainerSmall {
    padding-top: 75px;
    max-width: 600px;
    color: black;
    margin-left: 8%;
}
.schuinvlakHalf{
    background: url(../images/schuineBlokAchtergrond.png) no-repeat;
    background-size: 100% 100%;
    background-position: left bottom;
    height: 90%;
}
.schuinvlakHalf:first-child{
    margin-top: 100px;
}
.formveldjes{
    margin-top: 100px;
}
.content{
    padding: 0px 40px;
}
.logo{
    padding: 12px;
}
.center{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 0;
}
.rechtsUitlijnen{
    text-align: right;
}
.scrollover{
    overflow: auto;
    white-space: nowrap;
}
.background{
    background: url(../images/openingsuren.png) no-repeat;
    background-size: 150px;
}
.dates{
    list-style-type: none;
}
.dates li{
    display: inline-block;
    padding-left: 10px;
}
.date{
    width: 160px;
}
/*-------------------------*/
button {
    text-transform: none;
}
button a{
    text-decoration: none;
}

.buttonFull {
    background-color: #85BA50;
    border: 3px solid #85BA50;
    border-radius: 5px;
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 180px;
    padding: 5px;
    transition-duration: 0.5s;
}
.buttonFull a{
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: white;
}
.buttonFull:hover {
    background-color: white;
    border: 2px solid #85BA10;
    transition-duration: 0.5s;
    color: #85BA10;
}
.buttonFull a:hover{
    color: #85BA10;
    transition-duration: 0.2s;
}
.buttonBorder {
    background-color: none;
    border: 2px solid #85BA50;
    padding: 5px;
    border-radius: 5px;
    font-family: ' proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: #85BA50;
    margin-right: 10px;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 180px;
    transition-duration: 0.5s;
}
.buttonBorder a{
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: #85BA50;
}
.buttonBorder a:hover{
    color: white;
    transition-duration: 0.2s;
}
.fullwidth{
    width: 100%;
}
.buttonBorder:hover {
    background-color: #85BA50 !important;
    border: 2px solid #85BA50;
    font-family: ' proxima-nova', sans-serif !important;
    color: white;
    transition-duration: 0.5s;
}

i {
    font-family: 'Font Awesome 5 Brands', sans-serif;
}

.social i {
    background-color: #85BA50;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    display: inline-block;
    padding: 10px 15px;
}

.social {
    margin-top: 10px;
}

/*-------------------*/
nav {
    background-color: white;
    color: #999999;
    margin: 0;
    padding: 0;
    max-height: 80px;
}

nav img {
    height: 80px;
}

nav ul {
    list-style-type: none;
    float: right;
    margin: 10px 0;
}

nav ul li {
    display: inline;
    .buttonFull text-align: center;
    padding: 0 10px;
    border-bottom: 0px solid black;
    padding-bottom: 40px;
    transition-duration: 0.5s;
}

nav .active {
    color: black;
    border-bottom: 2px solid #85BA50;
    padding-bottom: 20px;
}

nav ul li:hover {
    color: black;
    border-bottom: 2px solid #85BA50;
    padding-bottom: 20px;
    transition-duration: 0.5s;
}
nav ul li:last-of-type:hover {
    border-bottom: 0px solid #85BA50;
}
.navButton {
    background-color: #85BA50;
    border: 3px solid #85BA50;
    border-radius: 5px;
    font-family: 'proxima-nova', sans-serif !important;
    font-weight: bold !important;
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    height: 40px;
    width: 90px;
    padding: 5px;
    transition-duration: 0.5s;
}
.navButton:hover {
    background-color: white;
    border: 2px solid #85BA10;
    transition-duration: 0.5s;
    color: #85BA10;
}

.models {
    text-align: left;
    width: 1000px;
}

.model1, .model2, .model3, .model4, .model5, .model6 {
    display: inline-block;
}

/*----------------------*/
.white {
    background-color: white;
    margin: 0;
}

.black {
    color: black !important;
}
.grijs{
    color: #666666;
}

.svg {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -200px;
}

.schuinvlakLinks {
    margin-left: -450px;
    margin-right: 100px;
    width: 90%;
}

.schuinvlakRechts {
    margin-right: -500px;
    width: 90%;
}

.schuinvlakLinksGroot {
    margin-left: -500px;
    width: 150%;
    height: 20%;
}

table {
    color: black;
    width: auto;
}

table img {
    height: 250px;
    width: 250px;
}
article {
    display: inline-block;
    padding: 40px;
    margin-right: 10px;
    margin-bottom: 50px;
    width: 200px;
    outline: 1px solid black;
}

.articles {
    width: 1000px;
}

article img {
    width: 200px;
}

select {
    color: black;
    width: 364.2px;
}

.calendar {
    display: inline-block;
}

footer{
    width: 80%;
    margin: 0 auto;
    max-height: 100px;
}
#logo{
    padding-top: 50px;
    width: 100%;
}
.logo img{
    vertical-align: middle;
}
.contactInfo{
    padding-top: 30px;
}
.bold{
    font-weight: bold;
}
/*card*/
.card{
    position: relative;
}
.card a{
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
.cardImage{
    max-width: 100%;
    position: relative;
	top: 0;
	left: 0;
    max-height: 150px;
    margin-left: auto;
      margin-right: auto;
      display: block;
}
.card .four{
    padding: 30px;
}
.schuinvlakCard{
    max-width: 60%;
    z-index: 99999;
    position: absolute;
	bottom: -182px;
    left: -5px;
}
